<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.tch.attend.mapper.TchAttendanceMapper">

	<select id="sltReqAtndList" resultType="app.psn.tch.attend.vo.AtndApprovalVO">
		SELECT A.MBER_SN
			 , A.QUEST_SN
			 , A.LOG_SN
			 , DATE_FORMAT(A.CREAT_DE, '%H:%I')                                AS CREAT_DATE
			 , DATE_FORMAT(A.PROCESSED_DE, '%Y-%m-%d %H:%I')                   AS PROCESSED_DATE
			 , (SELECT B.MBER_NM FROM MBER_INFO B WHERE B.MBER_SN = A.MBER_SN) AS MBER_NM
			 , STATUS
		FROM QUEST_LOGS A
		WHERE A.QUEST_SN = 2
		  AND A.MBER_SN IN (SELECT MBER_SN
							FROM GUILD_MBER_LIST
							WHERE GUILD_SN = #{guildSn})
		  AND A.REQ_DATE = #{reqDate}
	</select>

</mapper>