<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.stu.mapper.AttendanceMapper">

	<select id="sltAttendanceList" parameterType="Integer" resultType="app.psn.stu.vo.AttendanceVO">
		SELECT
		    DATE_FORMAT(A.DATE, '%Y-%m-%d') AS DATE
		  , DATE_FORMAT(A.DATE, '%d') AS DAY
		  , A.WEEK
		  , IFNULL(B.STATUS, '') as STATUS
		FROM (
		    SELECT DT AS DATE, WEEK(DT, 0) - WEEK(DATE_FORMAT(NOW(), '%Y-%m-01'), 0) + 1 AS WEEK
			FROM (
				SELECT DATE_ADD(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL SEQ DAY) AS DT
				FROM (
					SELECT T1.I + T2.J * 10 AS seq
					FROM (
						SELECT 0 i UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
						UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9
						) T1, (SELECT 0 j UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3) T2
					) NUMS
				WHERE DATE_ADD(DATE_FORMAT(NOW(), '%Y-%m-01'), INTERVAL SEQ DAY) <![CDATA[<=]]> LAST_DAY(NOW())
			) DATES
			WHERE DAYOFWEEK(DT) = 1
		) A LEFT OUTER JOIN QUEST_LOGS B ON B.MBER_SN = #{mberSn} AND B.QUEST_SN = 2 AND DATE_FORMAT(A.DATE, '%Y%m%d') = B.REQ_DATE
	</select>

</mapper>