<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 11 15:49:38 KST 2016 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.stu.mapper.QuestMapper">

	<select id="sltQuestList" parameterType="string" resultType="app.psn.stu.vo.QuestListVO">
		select A.QUEST_SN
			 , A.TITLE
			 , A.DESCRIPTION
			 , A.REWARD_EXP
			 , A.REWARD_POINT
			 , A.QUEST_TYPE
			 , A.EMOJI
			 , B.STATUS
			 , FN_GET_CODE_NM('REQ_STATUS', B.STATUS) as STATUS_NM
		from QUESTS A
				 LEFT OUTER JOIN QUEST_LOGS B ON
			A.QUEST_SN = B.QUEST_SN
				AND B.MBER_SN = #{mberSn}
		where A.USE_AT = 'Y'
	</select>

	<insert id="questDo" parameterType="app.psn.stu.vo.QuestVO">
		INSERT INTO QUEST_LOGS (REQ_DATE, MBER_SN, QUEST_SN) VALUES(DATE_FORMAT(NOW(), '%Y%m%d'), #{mberSn}, #{questSn});
	</insert>

</mapper>