<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 11 15:49:38 KST 2016 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.mng.home.mapper.MngHomeMapper">

	<select id="getAtndCnt" resultType="hashmap">
		SELECT COUNT(*)                                                                            AS ATND_CNT,
			   DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY), '%Y/%m/%d') AS ATND_DATE
		FROM QUEST_LOGS Q
		WHERE Q.QUEST_SN = 2
		  AND Q.STATUS = 'APPROVED'
		  AND Q.REQ_DATE >= DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY)
		  AND Q.REQ_DATE <![CDATA[ < ]]> DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 2 DAY)
	</select>

	<select id="getQestCnt" resultType="hashmap">
		SELECT COUNT(*)                                                                            AS QEST_CNT,
			   DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 6 DAY), '%Y/%m/%d') AS FROM_DATE,
			   DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 0 DAY), '%Y/%m/%d') AS TO_DATE
		FROM QUEST_LOGS Q
		WHERE Q.STATUS = 'APPROVED'
		  AND Q.REQ_DATE >= DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 6 DAY)
		  AND Q.REQ_DATE <![CDATA[ < ]]> DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY)
	</select>

	<select id="getWeekPoint" resultType="hashmap">
		SELECT SUM(AMOUNT)                                                                         AS POINT,
			   DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 6 DAY), '%Y/%m/%d') AS FROM_DATE,
			   DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 0 DAY), '%Y/%m/%d') AS TO_DATE
		FROM MBER_REWARD_LOGS
		WHERE REWARD_TYPE = 'POINT'
		  AND CREAT_DE >= DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 6 DAY)
		  AND CREAT_DE <![CDATA[ < ]]> DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY)
	</select>

	<select id="getSumPoint" resultType="hashmap">
		SELECT SUM(AMOUNT) AS POINT
		FROM MBER_REWARD_LOGS
		WHERE REWARD_TYPE = 'POINT'
	</select>

	<select id="getAtndList" resultType="hashmap">
		SELECT DATE_FORMAT(TARGET_DATES.TARGET_SUNDAY, '%m/%d') AS ATND_DATE,
			   COUNT(Q.QUEST_SN)                                AS ATND_CNT
		FROM (SELECT DATE_SUB(DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY), INTERVAL D.DIFF
							  DAY) AS TARGET_SUNDAY
			  FROM (SELECT 0 AS DIFF
					UNION ALL
					SELECT 7
					UNION ALL
					SELECT 14
					UNION ALL
					SELECT 21
					UNION ALL
					SELECT 28) D) TARGET_DATES
				 LEFT JOIN QUEST_LOGS Q
						   ON Q.QUEST_SN = 2
							   AND Q.STATUS = 'APPROVED'
							   AND Q.REQ_DATE >= TARGET_DATES.TARGET_SUNDAY
							   AND Q.REQ_DATE <![CDATA[ < ]]> DATE_ADD(TARGET_DATES.TARGET_SUNDAY, INTERVAL 1 DAY)
		GROUP BY TARGET_DATES.TARGET_SUNDAY
		ORDER BY TARGET_DATES.TARGET_SUNDAY ASC
	</select>

	<select id="getAvatarLevel" resultType="hashmap">
		SELECT LVL_GROUPS.LVL_NAME AS LEVEL_GROUP,
			   COUNT(A.LEVEL)      AS USER_CNT
		FROM (SELECT 1 AS ORD, 'Lv.1~10' AS LVL_NAME, 1 AS MIN_LVL, 10 AS MAX_LVL
			  UNION ALL
			  SELECT 2, 'Lv.11~20', 11, 20
			  UNION ALL
			  SELECT 3, 'Lv.21~30', 21, 30
			  UNION ALL
			  SELECT 4, 'Lv.31~40', 31, 40
			  UNION ALL
			  SELECT 5, 'Lv.41+', 41, 9999 -- 최대 레벨 상한선 (임의 지정)
			 ) LVL_GROUPS
				 LEFT JOIN AVATAR_INFO A
						   ON A.LEVEL >= LVL_GROUPS.MIN_LVL
							   AND A.LEVEL <![CDATA[ <= ]]> LVL_GROUPS.MAX_LVL
							   AND A.MBER_SN IN (SELECT MBER_SN FROM MBER_INFO WHERE USE_AT = 'Y')
		GROUP BY LVL_GROUPS.ORD,
				 LVL_GROUPS.LVL_NAME
		ORDER BY LVL_GROUPS.ORD ASC
	</select>

	<select id="getTimeVisit" resultType="hashmap">
		SELECT TIME_GROUPS.TIME_LABEL AS TIME_LABEL,
			   COUNT(V.CREAT_DE)      AS VISIT_CNT
		FROM (SELECT 1 AS ORD, '09시' AS TIME_LABEL, 9 AS START_H, 10 AS END_H
			  UNION ALL
			  SELECT 2, '11시', 11, 12
			  UNION ALL
			  SELECT 3, '13시', 13, 14
			  UNION ALL
			  SELECT 4, '15시', 15, 16
			  UNION ALL
			  SELECT 5, '17시', 17, 18
			  UNION ALL
			  SELECT 6, '19시', 19, 20
			  UNION ALL
			  SELECT 7, '21시', 21, 22
			  UNION ALL
			  SELECT 8, '23시', 23, 23) TIME_GROUPS
				 LEFT JOIN VISIT_LOG V
						   ON HOUR(V.CREAT_DE) >= TIME_GROUPS.START_H
							   AND HOUR(V.CREAT_DE) <![CDATA[ <= ]]> TIME_GROUPS.END_H
							   AND V.creat_de >= DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) + 6 DAY)
							   AND V.creat_de  <![CDATA[ < ]]> DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY)
		GROUP BY TIME_GROUPS.ORD,
				 TIME_GROUPS.TIME_LABEL
		ORDER BY TIME_GROUPS.ORD ASC
	</select>

	<select id="getGradeClaAtndCnt" resultType="hashmap">
		SELECT FIXED_CLASSES.GRADE,
			   FIXED_CLASSES.CLA,
			   COUNT(T.MBER_SN) AS ATND_CNT
		FROM (SELECT 4 AS GRADE, 1 AS CLA
			  UNION ALL
			  SELECT 4, 2
			  UNION ALL
			  SELECT 4, 3
			  UNION ALL
			  SELECT 4, 4
			  UNION ALL
			  SELECT 4, 5
			  UNION ALL
			  SELECT 4, 6
			  UNION ALL
			  SELECT 5, 1
			  UNION ALL
			  SELECT 5, 2
			  UNION ALL
			  SELECT 5, 3
			  UNION ALL
			  SELECT 5, 4
			  UNION ALL
			  SELECT 6, 1
			  UNION ALL
			  SELECT 6, 2
			  UNION ALL
			  SELECT 6, 3
			  UNION ALL
			  SELECT 6, 4
			  UNION ALL
			  SELECT 6, 5
			  UNION ALL
			  SELECT 6, 6) FIXED_CLASSES
				 LEFT JOIN (SELECT Y.GRADE,
								   Y.CLA,
								   Q.MBER_SN
							FROM QUEST_LOGS Q
									 JOIN GUILD_MBER_LIST X ON Q.MBER_SN = X.MBER_SN
									 JOIN GUILD_INFO Y ON X.GUILD_SN = Y.GUILD_SN
							WHERE Q.QUEST_SN = 2
							  AND Q.STATUS = 'APPROVED'
							  AND Q.REQ_DATE >= DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 1 DAY)
							  AND Q.REQ_DATE <![CDATA[ < ]]> DATE_SUB(CURDATE(), INTERVAL DAYOFWEEK(CURDATE()) - 2 DAY)) T
						   ON FIXED_CLASSES.GRADE = T.GRADE
							   AND FIXED_CLASSES.CLA = T.CLA
		GROUP BY FIXED_CLASSES.GRADE,
				 FIXED_CLASSES.CLA
		ORDER BY FIXED_CLASSES.GRADE ASC,
				 FIXED_CLASSES.CLA ASC
	</select>

	<select id="getExcellentMber" resultType="hashmap">
		SELECT Y.MBER_NM, X.NCNM, FN_GET_CODE_NM('OCCP', X.OCCP_CODE) as OCCP_NM, X.EXP, X.POINT, X.LEVEL
		FROM AVATAR_INFO X
				 LEFT JOIN MBER_INFO Y ON X.MBER_SN = Y.MBER_SN AND Y.USE_AT = 'Y'
		ORDER BY EXP DESC
		LIMIT 3
	</select>

</mapper>