<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/std_layout}">
<th:block layout:fragment="content">
	<div style="margin: 25px 25px 5px 25px; display: flex; align-items: center;">
		<span style="color: #4A90E2; font-size: 0.8rem; margin-right: 8px;">●</span>
		<h3 style="margin: 0; font-size: 1.1rem; color: #333; text-align: left;">출석 현황</h3>
	</div>
	<div class="card">
		<div class="quest-item"><span>🙏 아침 기도하기</span><input type="checkbox" class="q-check"></div>
		<div class="quest-item"><span>📖 말씀 1구절 암송</span><input type="checkbox" class="q-check"></div>
		<div class="quest-item"><span>💖 부모님 도와드리기</span><input type="checkbox" class="q-check"></div>
		<button class="btn btn-main" onclick="showPage('page-main')">제출하기</button>
	</div>
</th:block>
</html>