<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.com.mapper.CacheMapper">

	<select id="sltPont" parameterType="int" resultType="int">
		SELECT POINT
		FROM AVATAR_INFO
		WHERE MBER_SN = #{mberSn}
	</select>

	<select id="sltLv" parameterType="int" resultType="int">
		SELECT LEVEL
		FROM AVATAR_INFO
		WHERE MBER_SN = #{mberSn}
	</select>

	<select id="sltExp" parameterType="int" resultType="int">
		SELECT EXP
		FROM AVATAR_INFO
		WHERE MBER_SN = #{mberSn}
	</select>

	<select id="sltTodayBibleVerse" resultType="app.psn.com.vo.TodayBibleVerseVO">
		(SELECT V.VERSE_SN
			  , V.BOOK_NAME
			  , V.CHAPTER
			  , V.VERSE_START
			  , V.VERSE_END
			  , V.WORDS
		      , V.OPINION
			  , 1 AS SEQ
		 FROM BIBLE_VERSES V
			 limit 1)
		union all
		(SELECT V.VERSE_SN
			  , V.BOOK_NAME
			  , V.CHAPTER
			  , V.VERSE_START
			  , V.VERSE_END
			  , V.WORDS
			  , V.OPINION
			  , 0 AS SEQ
		 FROM BIBLE_VERSE_DAILY_SCHEDULES S
				  JOIN BIBLE_VERSES V ON S.VERSE_SN = V.VERSE_SN
		 WHERE S.SCHEDULE_DATE = CURDATE())
		ORDER BY SEQ
		limit 1;
	</select>

</mapper>