<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.com.mapper.CacheMapper">

	<select id="sltPont" parameterType="Integer" resultType="Integer">
		SELECT POINT
		FROM AVATAR_INFO
		WHERE MBER_SN = #{mberSn}
	</select>

	<select id="sltLevel" parameterType="Integer" resultType="Integer">
		SELECT LEVEL
		FROM AVATAR_INFO
		WHERE MBER_SN = #{mberSn}
	</select>

	<select id="sltExp" parameterType="Integer" resultType="app.psn.com.vo.AvatarLevelVO">
		SELECT CUR_LVL.LEVEL                                                                                              AS CURRENT_LEVEL
			 , CUR_LVL.REQUIRED_EXP                                                                                       AS CURRENT_REQUIRED_EXP
			 , NEXT_LVL.LEVEL                                                                                             AS NEXT_LEVEL
			 , NEXT_LVL.REQUIRED_EXP                                                                                      AS NEXT_REQUIRED_EXP
			 , NEXT_LVL.REQUIRED_EXP - CUR_LVL.REQUIRED_EXP                                                               AS LEVEL_UP_REQUIRED_EXP
			 , U.EXP                                                                                                      AS TOTAL_EXP
			 , (U.EXP - IFNULL(PRE_LVL.REQUIRED_EXP, 0))                                                                  AS CURRENT_EXP
			 , (CUR_LVL.REQUIRED_EXP - U.EXP)                                                                             AS EXP_NEEDED
			 , ROUND((U.EXP - IFNULL(PRE_LVL.REQUIRED_EXP, 0)) / (NEXT_LVL.REQUIRED_EXP - CUR_LVL.REQUIRED_EXP) * 100, 1) AS PROGRESS_PERCENT
		FROM AVATAR_INFO U
				 LEFT OUTER JOIN AVATAR_LEVEL_RULES PRE_LVL ON PRE_LVL.LEVEL = U.LEVEL - 1
				 LEFT OUTER JOIN AVATAR_LEVEL_RULES CUR_LVL ON CUR_LVL.LEVEL = U.LEVEL
				 LEFT OUTER JOIN AVATAR_LEVEL_RULES NEXT_LVL ON NEXT_LVL.LEVEL = U.LEVEL + 1
		WHERE U.MBER_SN = #{mberSn}
	</select>

	<select id="sltTodayBibleVerse" resultType="app.psn.com.vo.TodayBibleVerseVO">
		(SELECT V.VERSE_SN
			  , V.BOOK_NAME
			  , V.CHAPTER
			  , V.VERSE_START
			  , V.VERSE_END
			  , V.WORDS
			  , V.OPINION
			  , 1 AS SEQ
		 FROM BIBLE_VERSES V limit 1)
		union all
		(SELECT V.VERSE_SN
			  , V.BOOK_NAME
			  , V.CHAPTER
			  , V.VERSE_START
			  , V.VERSE_END
			  , V.WORDS
			  , V.OPINION
			  , 0 AS SEQ
		 FROM BIBLE_VERSE_DAILY_SCHEDULES S
				  JOIN BIBLE_VERSES V ON S.VERSE_SN = V.VERSE_SN
		 WHERE S.SCHEDULE_DATE = CURDATE())
		ORDER BY SEQ limit 1;
	</select>

</mapper>