<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.com.mapper.RewardMapper">

	<update id="updateReward" parameterType="app.psn.com.vo.RewardVO">
		UPDATE AVATAR_INFO
		SET EXP   = (EXP + (SELECT REWARD_EXP FROM QUESTS WHERE QUEST_SN = #{questSn})),
			POINT = (POINT + (SELECT REWARD_POINT FROM QUESTS WHERE QUEST_SN = #{questSn}))
		WHERE MBER_SN = #{mberSn}
	</update>

</mapper>