<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.com.mapper.RewardMapper">

	<insert id="insMberRewardLogs" parameterType="app.psn.com.vo.RewardVO">
		insert into MBER_REWARD_LOGS
		( MBER_SN
		, REWARD_TYPE
		, AMOUNT
		, BALANCE_AFTER
		, CHANGE_TYPE
		, REFERENCE_SN
		, DESCRIPTION)
		VALUES ( #{mberSn}
			   , #{rewardType}
			   , #{amount}
			   , IFNULL((SELECT A.BALANCE_AFTER FROM MBER_REWARD_LOGS A WHERE A.MBER_SN = #{mberSn} ORDER BY A.LOG_SN DESC LIMIT 1), 0) + #{amount}
			   , #{changeType}
			   , #{referenceSn}
			   , #{description})
	</insert>

	<insert id="insQuestContinuity" parameterType="app.psn.com.vo.QuestContinuityVO">
		INSERT INTO QUEST_CONTINUITY
		( MBER_SN
		, QUEST_SN
		, CURRENT_STREAK
		, LAST_SUCCESS_DE)
		VALUES (#{mberSn},
				#{questSn},
				#{currentStreak},
				CURRENT_TIMESTAMP) ON DUPLICATE KEY
		UPDATE
			CURRENT_STREAK = #{currentStreak},
			LAST_SUCCESS_DE = CURRENT_TIMESTAMP
	</insert>

	<update id="updateAvatarAmount" parameterType="app.psn.com.vo.RewardVO">
		UPDATE AVATAR_INFO
		<set>
			UDT_DE = CURRENT_TIMESTAMP,
			<if test="rewardType == 'EXP'">
				EXP = (EXP + #{amount}),
			</if>
			<if test="rewardType == 'POINT'">
				POINT = (POINT + #{amount}),
			</if>
		</set>
		WHERE MBER_SN = #{mberSn}
	</update>

</mapper>