<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.com.mapper.ToastMsgMapper">

	<insert id="insToastMsg" parameterType="com.base.vo.ToastMsgEvent">
		INSERT INTO TOAST_MSG
		( MBER_SN
		, TOAST_TYPE
		, TITLE
		, MESSAGE)
		VALUES ( #{mberSn}
			   , #{toastType}
			   , #{title}
			   , #{message})
	</insert>

	<select id="sltToastMsgList" parameterType="int" resultType="app.psn.com.vo.ToastMsgVO">
		SELECT TOAST_SN
			 , MBER_SN
			 , TOAST_TYPE
			 , TITLE
			 , MESSAGE
			 , IS_READ
			 , CREAT_DE
			 , READ_DE
		FROM TOAST_MSG
		WHERE MBER_SN = #{mberSn}
		  AND IS_READ = 'N'
	</select>

	<update id="removeToast" parameterType="int">
		UPDATE TOAST_MSG SET READ_DE = CURRENT_TIMESTAMP, IS_READ = 'Y' WHERE TOAST_SN = #{toastSn}
	</update>

</mapper>