<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 11 15:49:38 KST 2016 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.std.option.mapper.OptionMapper">

	<update id="pwChg">
		UPDATE MBER_INFO
		SET PWD= #{newPw}
		  , UDT_DE=CURRENT_TIMESTAMP
		WHERE MBER_SN = #{mberSn}
	</update>

	<select id="sltRewardHistory" parameterType="Integer" resultType="app.psn.std.option.vo.RewardHistoryVO">
        <![CDATA[
		select REWARD_TYPE
			 , A.CHANGE_TYPE
			 , CASE A.CHANGE_TYPE
				   WHEN 'QUEST' THEN IFNULL((SELECT Q.EMOJI
											 FROM QUESTS Q
											 WHERE Q.QUEST_SN IN (SELECT QL.QUEST_SN
																  FROM QUEST_LOGS QL
																  WHERE QL.LOG_SN = A.REFERENCE_SN)), '💰')
				   WHEN 'ADMIN_MANUAL' THEN '🛠️'
				   WHEN 'EVENT' THEN '🎉'
				   WHEN 'CONTINUITY' THEN '🔥'
				   WHEN 'LEVEL_UP' THEN '👍'
				   ELSE '💰'
			END                                       EMOJI
			 , A.DESCRIPTION
			 , DATE_FORMAT(A.CREAT_DE, '%Y-%m-%d') AS CREAT_DE
			 , A.AMOUNT
			 , A.BALANCE_AFTER
		FROM MBER_REWARD_LOGS A
		WHERE 1 = 1
		  AND A.MBER_SN = #{mberSn}
		ORDER BY A.CREAT_DE DESC
		]]>
    </select>

	<select id="sltWeekStatics" parameterType="Integer" resultType="hashmap">
		SELECT IFNULL(SUM(IF(REWARD_TYPE = 'POINT', AMOUNT, 0)), 0)      AS WEEK_POINT_SUM
			 , IFNULL(COUNT(IF(REWARD_TYPE = 'POINT', LOG_SN, NULL)), 0) AS WEEK_POINT_CNT
			 , IFNULL(SUM(IF(REWARD_TYPE = 'EXP', AMOUNT, 0)), 0)        AS WEEK_EXP_SUM
			 , IFNULL(COUNT(IF(REWARD_TYPE = 'EXP', LOG_SN, NULL)), 0)   AS WEEK_EXP_CNT
		FROM MBER_REWARD_LOGS
		WHERE MBER_SN = #{mberSn}
		  AND YEARWEEK(CREAT_DE, 0) = YEARWEEK(CURDATE(), 0)
	</select>

</mapper>