<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.std.home.mapper.StdHomeMapper">

	<select id="sltGuildMberList" parameterType="Integer" resultType="app.psn.std.home.vo.StdHomeGuildListVO">
		SELECT M.MBER_SN
			 , M.MBER_ID
			 , M.MBER_NM
			 , M.SEXDSTN
			 , A.NCNM
			 , A.OCCP_CODE
			 , FN_GET_CODE_NM('OCCP', A.OCCP_CODE) as OCCP_NM
			 , A.LEVEL
			 , A.POINT
		FROM MBER_INFO M
				 INNER JOIN AVATAR_INFO A ON M.MBER_SN = A.MBER_SN
		WHERE M.MBER_SN IN (SELECT MBER_SN
							FROM GUILD_MBER_LIST
							WHERE GUILD_SN = #{guildSn})
	</select>

	<select id="sltGuildInfo" parameterType="Integer" resultType="app.psn.std.home.vo.StdHomeGuildInfoVO">
		SELECT GUILD_SN
			 , GUILD_NM
			 , GUILD_LEVEL
			 , GUILD_IMAGE
			 , GRADE
			 , CLA
			 , RM
		FROM GUILD_INFO
		WHERE USE_AT = 'Y'
		  AND GUILD_SN = #{guildSn}
	</select>

</mapper>