<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed May 11 15:49:38 KST 2016 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.std.login.mapper.StdLoginMapper">

	<select id="sltMber" parameterType="app.psn.com.vo.LoginVO" resultType="app.psn.std.login.vo.StdSessionVO">
        SELECT A.MBER_SN
             , A.MBER_ID
             , A.MBER_NM
             , A.PWD
             , A.GRADE_CODE
             , B.NCNM
             , B.OCCP_CODE
             , FN_GET_CODE_NM('OCCP', B.OCCP_CODE) as OCCP_NM
             , B.EXP
             , B.LEVEL
             , D.GUILD_NM
             , A.SEXDSTN
             , D.GUILD_SN
             , D.GRADE
             , D.CLA
        FROM MBER_INFO A
                 INNER JOIN AVATAR_INFO B ON A.MBER_SN = B.MBER_SN
                 INNER JOIN GUILD_MBER_LIST C ON A.MBER_SN = C.MBER_SN
                 INNER JOIN GUILD_INFO D ON C.GUILD_SN = D.GUILD_SN
        WHERE A.MBER_ID = #{mberId}
          AND A.GRADE_CODE in ('200', '100')
          AND A.USE_AT = 'Y'
    </select>

</mapper>