<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.psn.com.mapper.BibleVerseMapper">

	<select id="sltVerseByDateCnt" parameterType="java.time.LocalDate" resultType="int">
		SELECT COUNT(*)
		FROM BIBLE_VERSE_DAILY_SCHEDULES
		WHERE SCHEDULE_DATE = #{date}
	</select>

	<insert id="insRandomVerseForDate" parameterType="java.time.LocalDate">
		INSERT INTO BIBLE_VERSE_DAILY_SCHEDULES (SCHEDULE_DATE, VERSE_SN, IS_MANUAL)
		SELECT #{date}, VERSE_SN, FALSE
		FROM BIBLE_VERSES
		WHERE VERSE_SN NOT IN (
			/* 최근 1년간 노출된 성구는 제외하여 중복 방지 */
			SELECT VERSE_SN
			FROM BIBLE_VERSE_DAILY_SCHEDULES
			WHERE SCHEDULE_DATE > DATE_SUB(#{date}, INTERVAL 1 YEAR))
		ORDER BY RAND() LIMIT 1
	</insert>

</mapper>