<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.idx.man.mapper.IntroMapper">

	<select id="sltStuMberCnt" resultType="int">
		SELECT count(*)
		FROM   MBER_INFO
		WHERE  USE_AT = 'Y'
		  AND GRADE_CODE = '100'
	</select>

</mapper>