<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TEST 사이트 제목</title>

</head>
<body>

<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">

	<!-- begin #header -->
	<div th:replace="~{fragments/header :: headerFragment}"></div>
	<!-- end #header -->

	<!-- begin #content -->
	<div layout:fragment="content"></div>
	<!-- end #content -->

	<!-- begin #footer -->
	<div th:replace="~{fragments/footer :: footerFragment}"></div>
	<!-- begin #footer -->

</div>
<!-- end page container -->
</body>
</html>