<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- WebAppInit.java 파일로 처리 변경 -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/jsp/com/include/taglib.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/code404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/code500.jsp</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/code400.jsp</location>
	</error-page>

</web-app>